services:
  backend:
    build:
      context: ./backend
    image: mcd-backend:1.0
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build:
      context: ./frontend
    image: mcd-frontend:1.0
    ports:
      - "6160:6160"
    environment:
      - BACKEND_URL=http://backend:8080
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet: